*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
body{
    overflow-x: hidden;
}
.nav{
    top: 0;
    display: flex;
    /* justify-content: space-between; */
    background-color:rgb(11, 11, 11,0.5);

    backdrop-filter: blur(5px);
    
    height: 12vh;
    flex-wrap: wrap;
    position: sticky;
    z-index: 10;
    
    
}
.desc{
    
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}
.desc h1{
    color: white;
    font-style: italic;
    filter: drop-shadow(10px 7px 10px gray);
    transition: all 0.5s ease-in-out;
}
.desc h1:hover{
    /* text-shadow: 0.5px 0.5px white;
    box-shadow: 0px 0px 10px 0px rgb(100, 99, 99); */
   
    
    font-size: 2.05rem;
}
.desc img{
    height: 2rem;
    width: 2rem;
    margin-left: 3%;
    margin-right: 1%;
}
.desc input{
    height: 55%;
    width: 50%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: none;
    margin-left: 10%;
}
.desc input::placeholder{
    color: #7d7b7b;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
   
}
.input-search{
    padding-left: 2rem;
    font-size: 1rem;
}

.desc i{
    color: #7d7b7b;
    background-color: white;
    height: 55%;
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.desc i:hover{
    cursor: pointer;
    border: 2px solid black;
    
}

.desc img:hover , h1:hover{
    cursor: pointer;
}
.login{
    width: 50%;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login ul{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}
.login a{
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    
    font-weight: 500;
    flex-direction: row;
    flex-wrap: wrap;
    transition: font-size 0.2s ease-in-out ;
}


.login i{
    margin-left: 1rem;
    font-size: 1.5rem  ;
    color: white;
    margin-right: 1%;
    transition: font-size 0.3s ease-in-out;
}
.login i:hover{
    cursor: pointer;
    font-size: 1.6rem;
}
.login a:hover{
    
    /* color: rgb(126, 120, 120); */
    font-weight: 700; 
    font-size: 1.2rem;
    /* color: rgb(15, 243, 197); */
    /* color: rgb(86, 173, 162); */
    /* color: rgb(80, 40, 214); */
    color: rgb(244, 0, 8);  
    font-weight: 700;
    
}
.main
{
	display:flex;
	flex-direction:column;
	align-items:center;
	background-color:#ffffff
}



.about .introduction
{
	height:500px;
	width:100%;
	background-color:#22333B;
	padding:10px;
	text-align:left;
	justify-content:space-evenly;
	padding:0 80px;
	
}

.about .introduction #img1
{
	width: 100%;
	margin-top: 20px;
}

#section1
{
	display:flex;
	flex-direction:row
}


#img1
{
	width:55%
}

#img1 img
{
	width:100%
}

h2
{
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color:#fff
}

.introduction h1
{
	font-size:50px;
	font-family:'Playfair Display',serif;
	font-weight:700;
	color:#EAE0D5;
	overflow:visible;
	white-space:nowrap;
	margin:0 auto;

}


.button a
{
	position:fixed;
	bottom:20px;
	right:20px;
	color:#fff;
	background:#2980b9;
	padding:7px 12px;
	font-size:18px;
	border-radius:6px;
	box-shadow:rgba(0,0,0,0.15)
}

.team,.Contact
{
	width:90%;
	text-align:center
}

.team h1
{
	font-size:55px;
	color:#0A0908
}

.team h2,.Contact h2
{
	color:#0A0908
}

.team #people
{
	width:100%;
	height:max-content;
	display:flex;
	flex-direction:column;
	flex-wrap:wrap;
	place-content: center center;
	row-gap: 10px;
	justify-content:space-evenly;
	padding: 10px;
}

#people .person
{
	height:max-content;
	width:95%;
	background-color:#01161e;
	border-radius:35px;
	display: inline-flex;
}

.person .img
{
	width:28%;
	height:323px
}

.person .img img
{
	height:80%;
	width:90%;
	margin:20px;
	border-radius:25px
}

.person #text2
{
	height:95%;
	width:60%
}

.vision{
	height: 500px;
	width: 1350px;
	border-radius: 40px;
	background-color: #20a4ad;
	justify-content: space-evenly;
	align-items: center;
	justify-items: center;
	display: flex;
	column-gap: 10px;
	flex-wrap: nowrap;
	place-content: center center ;
	flex-direction: row;
	padding: 10px;
	place-self: center center;
}
.child-div{
	height: 90%;
	background-color: white;
	border:#22333B;
	border-radius: 20px;
	margin: 10px;
	align-items: center;
	padding: 10px;
    display: flex;
	justify-content: space-evenly;
	justify-items: center;
	row-gap: 10px;
	flex-wrap: nowrap;
	flex-direction: column; }
.text-style{
	color: #01161e;
}
.styling{
	background-color: #22333B;
	border-radius: 20px;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#text2
{
	text-align:left;
	margin-left:auto;
	margin-right:auto
}
 
#text2 h1
{
	color:#fffdfb;
	font-size:30px
}

#text2 h2
{
	color:#C6AC8F
}

#text2 p
{
	color:#c0a17d;
	padding:10px
}

a
{
	text-decoration:none
} 

.nav{
	background-color: black;
}
.footer{
    bottom: 0;
    
    background-color: rgb(19,19,27);
    color: white;
    width: 100%;
    height: 80vh;
    
}
.footer{
	
    margin-top: 3rem;
    /* display: flex; */
    flex-wrap: wrap;
    
    
}
.company{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 2rem;
	margin-left: 2rem;
    vertical-align: center;
}
.footer p{
    
    font-weight: 700;
    font-size: 2rem;
   
}
.company ul{
    display: flex;
    flex-direction: column;
   

}
.company a{
    margin-top: 1rem;
    opacity: 0.6;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
}
.company a:hover{
    cursor: pointer;
    
    text-decoration: underline;
    opacity: 1;
    
}
.useful_links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.company{
    margin-right: 1.8rem;
}
.social_media i{
    font-size: 1.5rem;
    
    margin-right: 2.5rem;
    opacity: 0.8;
    
    
}

.social_media i:hover{
    cursor: pointer;
    opacity: 1;
    
}
.end{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-m{
    display: flex;
    font-size: 1.7rem;
  margin-top: 2rem;
    opacity: 0.8;
    
    border-radius: 100%;
}
.apps p{
   
    color: white;
    font-weight: 700;
   
      
}
.fa-instagram:hover{
color: rgb(206, 17, 165);
}

.fa-facebook:hover{
    color: blue;
}
.fa-youtube:hover{
    color: red;
}
.line{
    margin-top: 2rem;
    width: 93%;
    height: 20%;
    border: 1px white solid ;
    opacity:0.4 
    
}
.Copyright p{
    text-align: center;
    font-size: 1.5rem;
	margin-top: 1rem;
    opacity: 0.7;
}
@media(max-width:900px){
    .nav{
        display: flex;
        height: 20vh;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }
    .desc, .login{
            width: 100%;
        }
    
}